<!-- Footer-->
<footer th:fragment="FooterFragment"
        class="py-5 bg-dark mt-5">
    <div class="inner clearfix">
        <ul class="site-links float--left">
            <li>© 2025 StudyPod.</li>
            <li><a href="#" aria-label="이용약관">Terms</a></li>
            <li><a href="#" aria-label="개인정보 보호">Privacy</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Status</a></li>
            <li><a href="#">Help</a></li>
        </ul>
        <a class="logo" href="#"></a>
    </div>
</footer>